body {
    background-color: rgb(255, 153, 0);

}

.container-fluid {
    margin-top: 5vh;
    padding-left: 0;
    padding-right: 0;
}

.start {
    display: none;
    position: absolute;
    top: 50vh;
    z-index: 100;
    background-color: pink;
    height: 30px;
    width: 100vw;
}

#scoreboard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
    width: 80vw;
    border: 1px solid red;
}


.life {
    background-image: url("../images/heart.png");
    height: 10vh;
    width: 15vw;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;   
    border: 1px solid pink;
    background-position: center;
}
    

.target {
    height: 10vh;
    width: 25vw;
    border: 1px solid blue;
    text-align: center; 
    background-origin: center;
}

.egg-counter {
    background-image: url("../images/egg.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15vw;
    height: 10vh;
    display: flex;
    border: 1px solid green;
    background-position: center;
}

#gameboard {
    background-image: url("../images/galaxy.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100vw;
    border: 1px solid white;
}

.hen-container, .egg-container {
    margin-top: 10%;
    position: absolute;
    width: 100vw;
}

.hen {
    background-image: url("../images/chick.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 9vh;
    width: 12vw;
    border: 1px solid yellow;
    
}

.egg {
    /* display: none; */
    background-image: url("../images/egg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 5vh;
    width: 6vw;
    border: 1px solid greenyellow;
}

#egg1, #basket1 {
    position: absolute;
    left: 13%;
}

#egg2, #basket2 {
    position: absolute;
    left: 46%;
}

#egg3, #basket3 {
    position: absolute;
    left: 80%;
}

.sunnysideup-container, .basket-container {
    bottom: 11%;
    position: absolute;
    width: 80vw;
}

.sunnysideup {
    display: none;
    background-image: url("../images/sunnysideup.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 5vh;
    width: 8vw;
    border: 1px solid greenyellow;
    margin-bottom: 0px;
}

.basket {
    background-image: url("../images/baskett.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 7vh;
    width: 8vw;
    border: 1px solid orange;
    bottom: 0px;
    z-index: 3;
}

.floor {
    height: 2em;
    width: 100vw;
    background-color: rgba(154, 158, 158, 0.781);
    position: absolute;
    bottom: 10%;
}

